# ------------------------------------------------------
# IGNORE SEMUA DATASET
# ------------------------------------------------------

# Folder data berisi dataset (tetap ignore semuanya)
data/*
!data/.gitkeep

# Semua jenis dataset umum
*.csv
*.arff
*.xlsx
*.xls
*.json
*.txt
*.tsv
*.zip
*.gz
*.rar
*.data

# Allow requirements file even though *.txt is ignored
!requirements.txt

# Dataset audio (kalau nanti tugas lain)
*.wav
*.mp3
*.ogg

# Hasil download otomatis oleh script
datasets/
downloads/
raw_data/
processed_data/

# ------------------------------------------------------
# PYTHON & NOTEBOOK STUFF
# ------------------------------------------------------
_pycache_/
*.pyc
.ipynb_checkpoints/

# ------------------------------------------------------
# VIRTUAL ENVIRONMENT
# ------------------------------------------------------
venv/
.env/
*.env

# ------------------------------------------------------
# MISC
# ------------------------------------------------------
.DS_Store

environment/
*.dll
*.so
*.pyd